extends ./layouts/main

block content
    .container
        h3 #{torrent.title}
        .row
            .col-md-8
                h4 Torrent Details
                ul.list-group
                    li.list-group-item
                        | Import Date
                        span.label.label-default.pull-right(am-time-ago=torrent.imported)
                    li.list-group-item
                        | Category
                        span.label.label-default.pull-right(am-time-ago=torrent.category)
                    li.list-group-item
                        | File Size
                        span.label.label-default.pull-right(am-time-ago=torrent.size) bytes
                a(href="magnet:?xt=urn:btih:" + torrent.btih + trackers)
        .col-md-4
            h4 Tracker Stats
            ul.list-group
                li.list-group-item
                    | Seeders
                    span.label.label-success.pull-right #{torrent.swarm.seeders}
                li.list-group-item
                    | Leechers
                    span.label.label-danger.pull-right #{torrent.swarm.leechers}
                li.list-group-item
                    | Last Updated
                    span.label.label-default.pull-right #{torrent.swarm.lastmod}
            a.btn.btn-info(style="width: 100%;")
        .row
            .col-md-12
                h4 Sources
                ul.list-group
                    for source in torrent.details
                        li.list-group-item
                            a(href=source) #{source}
